.name{
    color: #102a42;
    font-size: 1rem;
}

.price{
    color:  #ab7a5f;
    letter-spacing: var(--spacing);
}

.myImage{
    width: 100%;
    display: block;
    border-radius: var(--radius);
    /* transition: var(--transition); */
    height: 175px;
    object-fit: cover;
}
.inner-flex{
    display: flex;
    justify-content: space-between;
}

.productsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2rem 1.5rem;
}


.sidebar{
    position: sticky;
    top: 1rem;
    /* left: 0; */
}

.container{
    display: grid;
    gap: 3rem 1.5rem;
    margin: 4rem auto;

    grid-template-columns: 200px 1fr;

    width: 95vw;
}

.inputText{
    padding: 0.5rem;
    background: #fff;
    border: 0.25rem;
    border-color: transparent;
    letter-spacing: 0.1rem;
}

.btn{
    margin-top: 0.1rem;
    display: block;
    margin: 0.25em 0px;
    padding: 0.25rem 0px;
    text-transform: capitalize;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid transparent;
    letter-spacing: 0.1rem;
    color: #617d98;
    cursor: pointer;
}

.active{
    border-color: #617d98;
    opacity: 1;
}

.form-control{
    margin-top: 2rem;
}

.head5{
    font-size: 1rem;
}

.comp{
    background:  #fff;
    border-radius: 0.25rem;
    border-color: transparent;
    padding: 0.25rem;

    margin-top: 0.5rem;
}

.clearBtn{

    display: block;
    margin: 0.25em 0px;
    text-transform: capitalize;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid transparent;
    letter-spacing: 0.1rem;
    cursor: pointer;

    background: #bb2525;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    display: block;
}

.notFound{
    font-size: 1.8rem;
    text-transform: none;
}

@media screen and (max-width: 950px) {
    .productsContainer{
    grid-template-columns: repeat(2, 1fr);}
}

@media screen and (max-width: 750px) {
    .productsContainer{
    grid-template-columns: repeat(1, 1fr);}
}

@media screen and (max-width: 550px) {
    .container{
        display: flex;
        flex-direction: column;
    }
}

.rowProductsContainer{
    display: grid;
    row-gap: 3rem;
}

.showFlex{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    align-items: center;
}

.imgFlex{
    display: block;
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.details{
    display: flex;
    flex-direction: column;
}

.nameFlex{
    margin-bottom: 0.5rem;
    line-height: 1;
    font-size: 1.5rem;
}

.desc{
    max-width: 45em;
    margin-bottom: 1rem;
    color: #324d67;
}

.detail{
    width: 6rem;
    text-align: center;

    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    color: #eaded7;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background: #ab7a5f;
    border-color: transparent;
    border-radius:0.25rem;
    transition: all 0.3s linear;
}

.detail:hover {
    background: #c5a491;
    color: #453227;
}

@media screen and (max-width: 950px) {
    .showFlex{
        display: flex;
        flex-direction: column;
        align-items: first baseline;
    }
}